extends layout

block content
  a(href='https://github.com/markshope/bill-of-lading-demo')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 A Web-based Demonstration of Blockchain Bill of Lading Concepts.
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='')
    br
    p.pull-right by
      a(href='http://markshope.com/') Mark Shope
